body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: auto;
    height: 100px;
    margin: 0 auto;
    background-color: #e7e5e5;
    border-bottom: 3px solid #000000;
}

header h1 {
  width: 2500px;
    padding-top: 10px;
    padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-weight:lighter;
}

header a {
  width: 100%;
  font-size: 25px;
  margin: auto;
}

main .list-title {
  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

main .sign-title {
  text-align: center;
  width: 250px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

main .company-title {
  margin-top: 20px;
  padding-left: 150px;
  font-size: 35px;
}

/* ボタン */
.same-btn {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s; /* ホバーの変化を滑らかに */
  cursor: pointer; /* カーソルを指マークに */
}


button.top-btn {
  /* 整える */
  width: 20%;
  margin-top: 20%;
  margin-left: 40%;
  padding: 30px 40px;
 /* 塗りの余白 */
  font-size: 20px; /* フォントサイズ */
  background-color: #cdf0dc; /* 背景色 */
  color: black; /* テキストカラー */
  border-radius: 15px; /* 角の丸み */
}

/* ホバー時（カーソルをのせた時）の見た目 */
button.top-btn:hover {
  background-color: #6cd694; /* 背景色 */
}


.client-signup-btn {
/* 整える */
height: 80px;
margin: auto;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 50px;
padding-right: 50px;
text-align: center;
white-space: nowrap;
font-size: 16px; /* フォントサイズ */
background-color: #cdf0dc; /* 背景色 */
color: black; /* テキストカラー */
border-radius: 8px; /* 角の丸み */
border: 2px solid #000000; /* 枠線を消す */
}

/* ホバー時（カーソルをのせた時）の見た目 */
button.client-signup-btn:hover {
background-color: #6cd694; /* 背景色 */
}


button.updateButton {
/* 整える */
margin: 10px 15px;
padding:6px 16px; /* 塗りの余白 */
font-size: 16px; /* フォントサイズ */
background-color: #8fcafa; /* 背景色 */
color: black; /* テキストカラー */
border-radius: 8px; /* 角の丸み */
border: 2px solid #000000; /* 枠線を消す */
}

/* ホバー時（カーソルをのせた時）の見た目 */
button.updateButton:hover {
background-color: #2f71ff; /* 背景色 */
}


button.saveButton {
  /* 整える */
  margin: 10px 15px;
  padding:6px 16px; /* 塗りの余白 */
  font-size: 16px; /* フォントサイズ */
  background-color: #8fcafa; /* 背景色 */
  color: black; /* テキストカラー */
  border-radius: 8px; /* 角の丸み */
  border: 2px solid #000000; /* 枠線を消す */
  }
  


button.deleteButton {
/* 整える */
margin: 10px 15px;
padding:6px 16px; /* 塗りの余白 */
font-size: 16px; /* フォントサイズ */
background-color: #ff7c7c; /* 背景色 */
color: black; /* テキストカラー */
border-radius: 8px; /* 角の丸み */
border: 2px solid #000000; /* 枠線を消す */
}

/* ホバー時（カーソルをのせた時）の見た目 */
button.deleteButton:hover {
background-color: #ff2121; /* 背景色 */
}



button.company-modal-btn {
  /* 整える */
  margin-top: 3%;
  margin-left: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  white-space: nowrap;
  font-size: 16px; /* フォントサイズ */
  background-color: #cdf0dc; /* 背景色 */
  color: black; /* テキストカラー */
  border-radius: 8px; /* 角の丸み */
  border: 2px solid #000000; /* 枠線を消す */
  }
  
  /* ホバー時（カーソルをのせた時）の見た目 */
  button.company-modal-btn:hover {
  background-color: #6cd694; /* 背景色 */
  }



.search-box {
  width: 500px;
  margin-left: 670px;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 3%;
  font-size: 21px;
  border: solid 3px #5fdaeb;
}




.search-box .client-search-btn {
  margin-left: 15px;
  text-align: center;
  white-space: nowrap;
  font-size: 16px; /* フォントサイズ */
  background-color: #5fdaeb; /* 背景色 */
  color: black; /* テキストカラー */
  border-radius: 8px; /* 角の丸み */
  border: 2px solid #000000; /* 枠線を消す */
  }

.client-search-btn:hover {
  background-color: #2f71ff; /* 背景色 */
}



.search-box .cancel-btn {
  margin-left: 180px;
  margin-top: 15px;
  text-align: center;
  white-space: nowrap;
  font-size: 16px; /* フォントサイズ */
  background-color: #ff7c7c; /* 背景色 */
  color: black; /* テキストカラー */
  border-radius: 8px; /* 角の丸み */
  border: 2px solid #000000; /* 枠線を消す */
}
    
.cancel-btn:hover {
  background-color: #ff2121; /* 背景色 */
}


.client_list {
  margin: auto;
  margin-bottom: 100px;
 
  
}
.client_list  tbody{
  padding: 10px 20px;
  padding-left: 10%;
  font-size: 21px;
  border-collapse: collapse;
  text-align: center;

}
.client_list td {
  border: 1px solid #333;
}

 

th {
  background-color: #8eec96;
  color: #000000;
  font-weight: lighter;

} 

.client_list thead {
  font-size: 20px;

}




.company-list {
  width: 75%;
  table-layout: fixed;
  margin-left: 10%;
  margin-top: 60px;
  padding: auto;
  font-size: 21px;
  border-collapse: collapse;
  text-align: center;
}




.style0 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #6cd694;
  border:none;
  height:9px;
  width: 80%;
 }

 .style1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: #6cd694;
  border:none;
  height:9px;
  width: 75%;
 }

 .style2 {
  margin-top:20px;
  margin-bottom: 50px;
  background-color: #6cd694;
  border:none;
  height:8px;
  width: 90%;

 }


 .style3 {
  margin-top:50px;
  background-color: #6cd694;
  border:none;
  height:8px;
  width: 90%;

 }

main .content-wrap {
  display: flex;
  margin: 0 auto 0 auto;
}

main .birthday {
  display: flex;
  align-items: center;
}

main label {
  display: flex;
  align-items: center;
}

main .date {
  display: flex;
}



.signup-box form {
  width: 500px;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 50px; 
  font-size: 30px;

}

.signForm {
  margin-top: 25px;
  margin-left: 350px;
  text-align: center;
  white-space: nowrap;
  font-size: 22px; /* フォントサイズ */
  background-color: #cdf0dc; /* 背景色 */
  color: black; /* テキストカラー */
  border-radius: 8px; /* 角の丸み */
  border: 2px solid #000000; /* 枠線を消す */
  }


  /* ホバー時（カーソルをのせた時）の見た目 */
  .signForm:hover {
  background-color: #6cd694; /* 背景色 */
}


.addition-form {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 60%;
  display: flex;
  align-items: center;
}

.addition-btn {
  margin-left: 5%;
  text-align: center;
  white-space: nowrap;
  font-size: 20px; /* フォントサイズ */
  background-color: #cdf0dc; /* 背景色 */
  color: black; /* テキストカラー */
  border-radius: 8px; /* 角の丸み */
  border: 2px solid #000000; /* 枠線を消す */
}

/* ホバー時（カーソルをのせた時）の見た目 */
.addition-btn:hover {
background-color: #6cd694; /* 背景色 */
}

.addition {
  font-size: 16px;
}


.company {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.company-content {
  position: fixed; /* 画面に固定 */
  margin-top: 3%;
  margin-left: 250px;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




.client-editButton {
  margin-top: 25px;
  margin-left: 350px;
  text-align: center;
  white-space: nowrap;
  font-size: 22px; /* フォントサイズ */
  background-color: #cdf0dc; /* 背景色 */
  color: black; /* テキストカラー */
  border-radius: 8px; /* 角の丸み */
  border: 2px solid #000000; /* 枠線を消す */
}
  
  /* ホバー時（カーソルをのせた時）の見た目 */
  .client-editButton:hover {
  background-color: #6cd694; /* 背景色 */
  }
  


.search-box input, select{
    padding: 4px;
}

.search-box label {
    margin-top: 5px;
    margin-bottom: 5px;
  }

.signup-box input, select {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 50px;
    padding-right: 50px;
  }


